.nav-burger {
  display: none;
  width: 30px;
  cursor: pointer;
  z-index: 200;

  .line {
    width: 25px;
    height: 3px;
    background-color: #1d1d1d;
    margin: 3px;
  }
}

.nav-burger:hover {
  cursor: pointer;
  z-index: 200;
}

.header-nav-links-vertical {
  position: absolute;
  top: -50%;
  right: 0;
  width: 200px;
  height: 50%;
  gap: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-color: var( --NeutralMedium);
  opacity: 0.8;
  z-index: 100;

    li:first-child {
      margin-top: 50%;
    }
}

.nav-active {
  right: 0;
  top: 0;
  transition: all 0.3s ease-out;
}

.header-nav-links li,
.header-nav-links li a {
  margin-left: 10px;
  text-align: start;
  margin-top: 15px;
  width: 100px;
  padding: 5px;
}


