.nav-burger {
  display: none;
  width: 30px;
  cursor: pointer;
  z-index: 200;

  .line {
    width: 25px;
    height: 3px;
    background-color: #1d1d1d;
    margin: 3px;
  }
}

.nav-burger:hover {
  cursor: pointer;
  z-index: 200;
}



.nav-active {
  right: 0;
  top: 0;

}

.header-nav-links li,
.header-nav-links li a {
  margin-left: 10px;
  text-align: start;
  margin-top: 15px;
  width: 100px;
  padding: 5px;
}