h1 {
  font-size: 4em;
}

#project {
  .project-description {
    font-family: Roboto;
    color: var(--NeutralMedium);
    margin-bottom: 30px;
    text-align: left;
    background-color: var(--NeutralLight);
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
  }

  .title {
    text-align: left;
    font-size: 3.5em;
    margin-left: 40px;
    margin-top: 10%;
  }

  .subtitle {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
  }

  .UI-design-title {
    color: var(--NeutralMedium);
    font-size: 20px;
    margin: 0;
  }

  .completed-title {
    text-align: center;
    color: var(--NeutralDark);
    font-size: 20px;
    margin: 0;

    .completed-title-data {
      color: var(--NeutralMedium);
      font-size: 12px;
      margin-left: 10px;
      margin-right: 40px;
    }
  }
  
}
.project-image-section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  .project-image {
    object-fit: cover;
  }
}
@media(max-width:720px) {
  #project{
    .project-image-section{
      .project-image{
        width:90%;
      }
    }
  }
}

  
